<div class="hidden h-dvh w-[100dvw] min-h-[33.6rem] lg:w-[30dvw] lg:flex flex-col ingradient-bg right-shadow-box">
    <div class="w-full h-full grow flex items-center">
        <div class="grow flex flex-col justify-center items-center relative">
            <div class="bg-animation"></div>
            <img class="h-14 invert lg:mb-10 select-none" src="../../../assets/logo.png" alt="logo">
            <a class="link-border" routerLink="/home" routerLinkActive="active-link-border">Home</a>
            <a class="link-border" routerLink="/home">Test Yourself</a>
            <a class="link-border" routerLink="/home" >AI Consultation</a> 
        </div>
    </div>
</div>

<div class="h-20 w-dvw fixed right-0 top-0
flex items-center space-x-10 lg:hidden bg-gray-100">

    <div class="grow flex justify-evenly items-center space-x-5">
        <a class="link-normal" routerLink="/home" routerLinkActive="active-link">Home</a>
        <a class="link-normal" routerLink="/home">Test-Yourself</a>
        <a class="link-normal" routerLink="/home" >AI-Consultation</a> 
    </div>
    <div class="sm:flex space-x-3 items-center pr-5 hidden">
        <button class="text-nowrap border rounded-md px-3 py-1 border-gray-500 text-base text-sky-800 hover:bg-gray-300/20 hover:text-red-600"
        routerLink="/login"
        >Sign in</button>
        <button class="text-nowrap border rounded-md px-3 py-1 border-gray-500 bg-blue-600 hover:bg-gray-300/20 hover:text-red-600
        text-gray-100 text-base" routerLink="/register">Register</button>
    </div>

</div>