<div class="router-div bg-gray-100 flex flex-col px-10 py-6 relative">

    <div class="space-x-5 mt-3 justify-end hidden lg:flex">
        <button class="span-hover flex items-center relative border-none hover:bg-gray-100" (click)="isLogout = !isLogout">
            <span class="border-none text-lg">{{username}}</span>
                <i class="bi bi-balloon text-2xl"></i>
            @if(isLogout){
                <span class="absolute border-1 rounded-lg w-full h-7 left-0 top-9 flex items-center 
                justify-center hover:bg-gray-200 hover:text-red-500 min-w-min text-nowrap" (click)="confirm()">Log out</span>
            }

        </button>
    </div>
    <div class="grow flex items-center p-3 sm:p-10">

        <span class="border-none text-2xl">IN CONSTRUCTION ...</span> 

    </div>

</div>

